<!DOCTYPE html>
<html>
<head>
    <title>Home Credit Default Risk Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-index.css') }}">
</head>
<body>
    <h1>Welcome to Home Credit Group</h1>
    <h2>To check the Loan Default Risk associated with an applicant, click on the button below</h2>
    
    <form id = 'Home-page' action = '/predict' method = 'POST'>
        <div class="container">
            <input type = 'submit' class = 'btn-eligibility' value = 'Check For Eligibility'>
        </div>
    </form>
</body>
</html>